<h1>Add a new note</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
        <div>     
            <form method="post" action="/create" >
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title">
                </div><!-- End form group -->
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                </div><!-- End form group -->
                <input type="submit"class="btn btn-primary">
            </form>
        </div>
        <a href="/">Home</a>
    </div><!-- End card body -->
</div><!-- End card -->